.weather {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid rgb(6, 6, 78);
  border-radius: 5px;
}
h1 {
  color: rgb(57, 17, 94);
}
h2 {
  color: rgb(32, 4, 59);
  font-size: 30px;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  line-height: 28px;
  margin-bottom: 0;
}
ul {
  margin: 0;
}
li {
  list-style: none;
  text-align: right;
  padding: 0;
  font-size: 16px;
  font-weight: 100;
  font-family: Georgia, "Times New Roman", Times, serif;
}
small {
  margin-top: 0;
}
.weather-temp {
  margin-bottom: 20px;
  height: 64px;
  width: 64px;
}
.weather-temp strong {
  color: rgb(59, 12, 103);
  font-size: 50px;
  font-weight: 400;
  line-height: 1;
}
.weather-temp .units{
  position: relative;
  font-size: 20px;
  top: -45px;
  right: -60px;
}

#description{
  text-transform: capitalize;
}

.weather-temp .active{
  color:black;
  cursor: default;

}
.weather-temp .active:hover{
  text-decoration: none;
}